/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* Variables */
:root {
  --color-test: #3a3a3a;
  --color-blue: blue;
  --color-red: red;
  --color-yellow: yellow;
}

/* Globals */
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  line-height: 1.6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

/* Header */

header {
  grid-area: header;
  background-color: #ffffff;
  background-image: url(../img/hero.jpg);
  background-position: center -600px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  height: 600px;
}

nav {
  display: flex;
  flex: 2;
}

.nav {
  display: flex;
  align-self: center;
  justify-content: baseline;
  background: rgb(123, 123, 123);
  background: linear-gradient(
    180deg,
    rgba(123, 123, 123, 1) 41%,
    rgba(123, 123, 123, 1) 43%,
    rgba(96, 96, 96, 1) 48%,
    rgba(115, 115, 115, 1) 100%
  );
  border-radius: 5px;
}

.nav li {
  padding: 8px 30px;
  color: #ffffff;
  font-size: medium;
}

.nav li a {
  color: #ffffff;
  text-decoration: none;
}

.nav li input {
  font-size: small;
  background-color: inherit;
  padding: 3px 5px 3px 30px;
  border-radius: 50px;
  width: 110px;
  border-top-color: #444;
  border-top-width: 1px;
  border-left-width: 0;
}

.nav li label i {
  position: relative;
  right: -25px;
}

.nav li input:focus {
  background-color: #ffffff;
}

.nav li input:focus ~ i {
  color: #000000;
}

.nav li:not(:last-of-type):hover {
  background: #3a3a3a;
}

.nav li:not(:first-of-type) {
  border-left: 1px solid #636363;
}

.nav li:first-child {
  font-size: x-large;
  padding: 6px 30px;
}

.hero {
  display: flex;
  flex: 4;
  flex-direction: column;
  color: white;
}


.hero a {
  text-decoration: none;
  font-weight: lighter;
  color: inherit;
}

.hero a:first-child {
  flex: 1;
}

.hero a:last-child {
  flex: 4;

}

.hero-title {
  align-self: center;
  font-weight: lighter;
  font-size: 4rem;
}

.hero-subtitle {
  font-size: 2rem;
  max-width: 63%;
  margin: auto;
  font-weight: normal;
}

.hero-link {
  font-size: 1.5rem;
  margin-top: 25px;
}

.hero-link:hover {
 text-decoration: underline;
}

main {
  background-color: var(--color-blue);
  grid-area: main;
  height: 200px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.main-container .item {
  border: 1px solid red;
}

footer {
  background-color: var(--color-red);
  grid-area: footer;
  height: 90px;
}
